<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Isotope Example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
     
     <div id="main">
        <h1>Vue isotope For</h1>

        <h2>Filter</h2>
        <div class="button-group">  
            <button v-for="(key, val) in option.getFilterData" class="button" :class="[key===filterOption? 'is-checked' : '']"  @click="filter(key)">{{key}}
            </button>
        </div>

        <h2>Sort</h2>
        <div class="button-group">
          <button class="button" :class="[sortOption==='original-order'? 'is-checked' : '']"  @click="sort('original-order')">original order</button> 
          <button v-for="(key, val) in option.getSortData" class="button" :class="[key===sortOption? 'is-checked' : '']"  @click="sort(key)">{{key}}</button>
        </div>
       
        <div id="root_isotope1">
            <div v-isotope-for="element in list" :options='option' v-bind:class='[element.category]'>
                <h3 class="name">{{element.name}}</h3>
                <p class="symbol">{{element.symbol}}</p>
                <p class="number">{{element.number}}</p>
                <p class="weight">{{element.weight}}</p>
            </div>
        </div>

        <a href="index.html">Simple example</a>
        <a href="complex.html">More complex example</a>

        <script type="text/javascript" src="..\libs\vue\dist\vue.js"></script>
        <script type="text/javascript" src="..\libs\lodash\lodash.js"></script>
        <script type="text/javascript" src="..\libs\isotope\isotope.pkgd.js"></script>
        <script type="text/javascript" src="src\vue_isotope.js"></script>
        <script type="text/javascript" src="script\metal.js"></script>

    </div>
    </body>
</html>